* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #222;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
}

.discount {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  z-index: 9999;
}

.header {
  width: 100%;
  position: fixed;
  top: 38px;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 9998;
}

body::before {
  content: "";
  display: block;
  height: 140px;
}

.header__lang {
  width: 40px;
  padding: 5px 5px;
  background-color: #F2F2F2;
  color: #999999;
  font-weight: 690;
  border-radius: 15px;
  text-align: center;
}

.header__city {
  margin-top: 7px;
  font-size: 12px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-size: 14px;
}

.header__left {
  display: flex;
  gap: 18px;
  font-weight: 600;
  margin-left: -20px;
}

.header__nav {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.header__nav a {
  color: #444;
  font-weight: 500;
  font-size: 12px;
}

.header__help {
  color: #FF671F;
  cursor: pointer;
  font-weight: 690;
  font-size: 12px;
  margin-left: 40px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 18px 40px;
  margin-top: -10px;
}

.header__logo img {
  height: 50px;
  cursor: pointer;
}

.header__catalog-btn {
  background: #43B02A;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.header__catalog-btn img {
  width: 22px;
}

.header__search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.search__input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #43B02A;
  border-radius: 10px 0px 0px 10px;
}

.search__mic {
  position: absolute;
  right: 140px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.search__btn {
  height: 46px;
  background: #43B02A;
  color: #fff;
  border: none;
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.action img {
  width: 26px;
  height: 26px;
  margin-bottom: 5px;
}

.action--row {
  flex-direction: row !important;
  gap: 10px;
  background-color: #F2F2F2;
  padding: 12px 15px;
  border-radius: 7px;
}

.action--row img {
  width: 17px;
  height: 17px;
  margin-bottom: 0;
}

.header__cart span {
  font-size: 16px;
  font-weight: 700;
}